{% extends 'base/base.html'%}

{% block title %}INDEX VIEW {% endblock title %}

{% block content %}
<style>
  .container.marketing .col-lg-4 .bd-placeholder-img {
    border-radius: 15px;
  }

  .btn{
    margin-top: 10px;
  }
</style>
<br> 

<h2>BIENVENIDO A ADSAP</h2>
<div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="170" height="170" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <p><a class="btn btn-secondary" href="#">Datos Personales &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="170" height="170" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        
        <p><a class="btn btn-secondary" href="#">Vacaciones &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="170" height="170" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        
        <p><a class="btn btn-secondary" href="#">Permisos &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="170" height="170" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        
        <p><a class="btn btn-secondary" href="#">Incapacidades &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="170" height="170" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        
        <p><a class="btn btn-secondary" href="#">Noticias &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="170" height="170" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        
        <p><a class="btn btn-secondary" href="#">Nomina &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row --> 
</div>
{% endblock content %}

