{% extends 'base/base.html'%}

{% block title %} VACACIONES {% endblock title %}

{% block content %}

    <h1>PAGINA DE ADMINISTRAR VACACIONES</h1>

    <style>
        body {
          background-color: #fff;
        }
      
        .bd-radius {
          border-radius: 15px;
        }
      
        h2 {
          text-align: center;
        }
      
        .col-lg-4 {
          flex: 0 0 auto;
          width: 33.333333%;
        }
      
        .row {
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 4rem;
        }
      
        .col-lg-4 {
          flex: 0 0 auto;
          width: auto;
        }
      
        .col-lg-4 {
          flex: 0 0 auto;
          width: auto;
        }
      
        .btn {
          margin-top: 20px;
          margin-bottom: 20px;
          background-color: #004c9759;
          cursor: pointer;
          transition: background-color 0.3s;
        }
      
        .btn:hover {
          background-color: #004b97b7;
        }
      
        .btn-image {
          display: inline-block;
          padding: 0;
          width: 300px;
          height: 210px;
          text-align: center;
          color: black;
          font-family: 'Arial', sans-serif;
          font-weight: bold;
          border-radius: 15px;
        }
      
        .btn-image img {
          width: 150px;
          height: 150px;
          object-fit: contain;
          margin-top: 15px;
          margin-bottom: 0px;
        }
      
        .btn-image span {
          display: block;
          margin-top: 10px;
        }
      </style>
      
      <body>
        <div class="container marketing">
          <div class="row">
            <div class="col-lg-4">
              <p>
                <a class="btn btn-secondary btn-image" href="{% url 'RH:vacaciones_busqueda' %}">
                  <img src="https://cdn-icons-png.flaticon.com/256/1077/1077063.png" alt="Datos Personales">
                  <span style="margin-top: -2px; font-size: 1.7em; font-weight: bold;">ADMINSTRA VACACIONES</span>
                </a>
              </p>
            </div>
            
          </div>
        </div>
        <a href="{% url 'home:home' %}" class="btn btn-primary">Volver</a>
      </body>

{% endblock content %}