{% extends 'base/base.html'%}
{% block title %}Reporte Estado{% endblock title %}
{% block content %}
<style>
  .background {
    background-color: #fff;
  }

  .Contenedor {
    background-color: #fff;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    height: 700px;
    width: 1000px;
    border-radius: 20px;
    margin-left: 300px;
    display: block;
  }

  .Tittle {
    font-size: 3em;
    color: #003366;
    font-family: 'ZCOOL QingKe HuangYou';
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  .Sub {
    font-size: 2em;
    color: #003366;
    font-family: 'ZCOOL QingKe HuangYou';
    text-align: left;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .Estado {
    font-size: 2em;
    color: #003366;
    font-family: 'ZCOOL QingKe HuangYou';
    text-align: left;
    font-weight: bold;
    position: absolute;
  }

  .EstadoDato {
    font-size: 30px;
    color: #000;
    font-family: 'ZCOOL QingKe HuangYou';
    text-align: left;
    font-weight: bold;
    margin-top: 30px;
  }

  .Datos {
    font-size: 1.8em;
    color: #003366;
    font-family: 'ZCOOL QingKe HuangYou';
    font-weight: bold;
    margin-bottom: 0px;
  }

  .DatosUsuario {
    font-size: 24px;
    color: #000000;
    font-family: 'ZCOOL QingKe HuangYou';
    font-weight: bold;
  }

  .BtnAtras{
    background-color: #003366;
    border-color: #003366;
    font-size: 1.5em;
    margin-top: 30px;
  }

  .BtnCancelar {
    background-color: red;
    border-color: red;
    color: #fff;
    font-family: 'ZCOOL QingKe HuangYou';
    font-weight: bold;
    margin-left: 75%;
    margin-bottom: 15px;
  }
  .BtnCancelar:hover {
    background-color: rgb(141, 0, 0);
  }
</style>

<body class="background">
  <div class=Contenedor>
    <p class="Tittle">Estado del reporte</p>
    <p class="mb-0">Seccion: {{ reporte.seccion }} </p>
    <p class="mb-0 fecha">Fecha envio reporte: {{ reporte.fecha_inicio }}  </p>
    <p class="mb-0 fecha">Fecha fin reporte: {{ reporte.fecha_fin }}  </p>
    <p class="mb-0">Estado: {{ reporte.estado }} </p>
    <p class="mb-0">Descripcion: {{ reporte.descripcion }} </p>
    <img src="{{ reporte.imagen.url }}" alt="Imagen de reporte">
    </div>
    <a class="btn btn-primary py-2 BtnAtras" type="" href="{% url 'core:reporte_lista' %}">Volver a reportes</a>
  </div>
</body>
{% endblock content %}