{% extends 'base/base.html'%}
{% block title %}Crea Semana Nomina{% endblock title %}
{% block content %}
<body>
    <form method="post">
        {% csrf_token %}
        <table>
            {% for empleado, form in forms %}
                <tr>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ form.salario_diario }}</td>
                    <td>{{ form.horas_trabajadas }}</td>
                    <td>{{ form.fecha_inicio }}</td>
                    <td>{{ form.horas_extra }}</td>
                    <td>{{ form.deducciones }}</td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Enviar</button>
    </form>
    
</body>
{% endblock content %}
