{% extends 'base/base.html'%}
{% block title %}Inicio Administrativo{% endblock title %}
{% block content %}
<style>
  body {
    background-color: #fff;
  }

  .bd-radius {
    border-radius: 15px;
  }

  h2 {
    text-align: center;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }

  .row {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: auto;
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #004c9759;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #004b97b7;
  }

  .btn-image {
    display: inline-block;
    padding: 0;
    width: 300px;
    height: 210px;
    text-align: center;
    color: black;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    border-radius: 15px;
  }

  .btn-image img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .btn-image span {
    display: block;
    margin-top: 10px;
  }

  .Sub {
    font-size: 2.5em;
    color: #003366;
    font-family: 'ZCOOL QingKe HuangYou';
    text-align: center;
  }
</style>

<body>
  <h2
    style="font-size: 70px; margin-top: 6rem; color:#003366; font-family: 'ZCOOL QingKe HuangYou'; font-weight: bold;">
    ¡Bienvenido a ADSAP!</h2>
    <p class="Sub">Usuario administrativo</p>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <p>
          <a class="btn btn-secondary btn-image" href="{% url 'RH:empleados' %}">
            <img src="https://cdn-icons-png.flaticon.com/256/1077/1077063.png" alt="Datos Personales">
            <span style="margin-top: 5px; font-size: 1.2em; font-weight: bold;">ADMINISTRAR EMPLEADOS</span>
          </a>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          <a class="btn btn-secondary btn-image" href="{% url 'RH:vacaciones' %}">
            <img src="https://cdn-icons-png.flaticon.com/256/1831/1831534.png" alt="Vacaciones">
            <span style="margin-top: 5px; font-size: 1.2em; font-weight: bold;">ADMINISTRAR VACACIONES</span>
          </a>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          <a class="btn btn-secondary btn-image" href="#">
            <img src="https://cdn-icons-png.flaticon.com/256/2284/2284211.png" alt="Permisos">
            <span style="margin-top: 5px; font-size: 1.2em; font-weight: bold;">ADMINISTRAR PERMISOS</span>
          </a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>
          <a class="btn btn-secondary btn-image" href="#">
            <img src="https://cdn-icons-png.flaticon.com/256/4540/4540514.png" alt="Incapacidades">
            <span style="margin-top: 5px; font-size: 1.1em; font-weight: bold;">ADMINISTRAR INCAPACIDADES</span>
          </a>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          <a class="btn btn-secondary btn-image" href="">
            <img src="https://cdn-icons-png.flaticon.com/256/2886/2886141.png" alt="Noticias">
            <span style="margin-top: 5px; font-size: 1.2em; font-weight: bold;">ADMINISTRAR NOTICIAS</span>
          </a>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          <a class="btn btn-secondary btn-image" href="#">
            <img src="https://cdn-icons-png.flaticon.com/256/8290/8290972.png" alt="Nomina">
            <span style="margin-top: 5px; font-size: 1.2em; font-weight: bold;">ADMINISTRAR NOMINAS</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</body>
{% endblock content %}